@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color: #ffffff;
  --background: #0a121f;
  --card-background: #111e38;
  --input-border: #111e38;
  --input-background: #0a121f;
  --input-placeholder: #64748b;
  --input-border-focus: #0ea5e9;
  --nav-background: #111e38;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color: #ffffff;
    --background: #0a121f;
    --card-background: #111e38;
    --input-border: #111e38;
    --input-background: #0a121f;
    --input-placeholder: #64748b;
    --input-border-focus: #0ea5e9;
    --nav-background: #111e38;
  }
}

body {
  color: var(--color);
  background: var(--background);
}

.card {
  position: relative;
  transition: all 0.5s cubic-bezier(0.13, 0.8, 0.52, 0.99);
  background-color: var(--card-background);
  overflow: hidden;
}

.card::after {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0.3;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    21deg,
    rgba(255, 255, 255, 0) 50%,
    rgba(255, 255, 255, 1) 100%
  );
  transform: translateY(-100%);
  transition: all 0.3s cubic-bezier(0.13, 0.8, 0.52, 0.99);
}

.card:hover {
  z-index: 10;
  transform: scale(1.1);
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.card:hover::after {
  transform: translateY(0%);
}

.body-gr-bg {
  background-image: url("assets/images/body-bg-gradient.png");
}

input,
textarea,
select,
.select {
  border-width: 1px;
  border-color: var(--input-border);
  background-color: var(--input-background);
}

input:focus,
textarea:focus,
select:focus,
.select:focus {
  border-color: var(--input-border-focus);
  outline: none;
}

input::placeholder {
  opacity: 1;
  color: var(--input-placeholder);
}

input::-ms-input-placeholder {
  opacity: 1;
  color: var(--input-placeholder);
}

.input-background {
  background-color: var(--input-background);
}

.select-options {
  background-color: var(--card-background);
}

.nav-group {
  border-color: var(--input-border);
  background-color: rgba(10, 18, 31, 0.6);
}

.nav-item.active {
  background-color: var(--nav-background);
}

.modal {
  background-color: var(--card-background);
  background: linear-gradient(
      239deg,
      rgba(51, 102, 255, 0.2) 8.18%,
      rgba(51, 102, 255, 0) 69.92%
    ),
    #111e38;
}

.modal-close {
  background-color: var(--card-background);
}
